{% extends "base.html" %} {% block title %}Positive Search{% endblock %} 

{% block content %}
    <br />
    <h1 style="text-align: center;">Insert Username</h1>
    <br />
    
      <form method="POST">
        <textarea
            placeholder="Enter username: "
            name="name"
            id="name"
            class="form-control"
        ></textarea>

        <br />
        <div style="text-align: center;">
            <button type="submit" class="btn btn-lg btn-primary">Search</button>
        </div>
      </form>
      
    <br />
    <div style="text-align: center; margin-left: -100px;">
      <a href="/allPositive"
        ><button type="button" class="btn btn-lg btn-secondary" style="background-color: teal; margin-right: 100px;">Show All Posts With <br> Only Positive Comments</button></a
      >
   
      <a href="/stats"
        ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
      >
    </div>
  {%endblock %}