{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br />
<h1 style="text-align: center;">Insert Date</h1>
<br />
<form method="POST">
  <textarea
    placeholder="Enter date in (yyyy-mm-dd) format:"
    name="date"
    id="date"
    class="form-control"
  ></textarea>
  <br />
  <div style="text-align: center;">
    <button type="submit" class="btn btn-lg btn-primary">Search</button>
  </div>
</form>
<br />
<div style="text-align: center;">
  <a href="/stats"
    ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
  >
</div>
{%endblock %}
