{% extends "base.html" %} {% block title %}Hobby Search{% endblock %} 

{% block content %}
    <br />
    <h1 style="text-align: center;">Insert Hobby</h1>
    <br />
    
      <form method="POST">
        <textarea
            placeholder="Enter Hobby: "
            name="hobbyText"
            id="hobbyText"
            class="form-control"
        ></textarea>

        <br />
        <div style="text-align: center;">
            <button type="submit" class="btn btn-lg btn-primary">Search</button>
        </div>
      </form>
      
    <br />
    <div style="text-align: center; margin-left: -80px;">
      <a href="/hobby_pairs"
        ><button type="button" class="btn btn-lg btn-secondary" style="background-color: teal; margin-right: 100px;">Show All <br> Possible Pairs</button></a
      >
   
      <a href="/stats"
        ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
      >
    </div>
  {%endblock %}