{% extends "base.html" %} {% block title %}Post{% endblock %} 

{% block content %}
    <br />
    <h1 style="text-align: center;">{%block header%}Posts{%endblock%}</h1>
    <div id="posts">
        {% for post in posts %}
        <div class="card border-dark">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="/posts/{{post.users.username}}">{{post.users.username}}</a>
                {% if users.id == post.author %}
                <!-- Dropdown menu for users to delete their posts-->
                <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/delete-post/{{post.id}}">Delete</a>
                    </div>
                </div>
                {% endif %}
            </div>
            
            <div class="card-body">
                <h5>Subject:</h5>
                <div class="card-text">{{post.subject}}</div>
            </div>
            
            <hr />
            <div class="card-body">
                <h5>Description:</h5>
                <div class="card-text">{{post.description}}</div>
            </div>
            
            <hr />
            <div class="card-body">
                <h5>Tags:</h5>
                {% for tag in post.tags %}
                <a href="/tags/{{tag.text}}">#{{tag.text}}
                <!------href="javascript:void(0)"-->
                    <!--<div class="card-text">#{{tag.text}}</div>-->
                </a>
                {% endfor %}
            </div>
            
            <hr />
            <div class="card-footer text-muted">{{post.dateCreatedOn}}</div>
        </div>
        
        <br />
        <div class="collapse" id="comments-{{post.id}}">
            <div class="card">
                <div class="card-body" id="comments-expanded-{{post.id}}">
                    {% for comment in post.comments %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="/posts/{{comment.users.username}}">
                                {{comment.users.username}}</a
                                >: {{comment.text}} -> [{{comment.sentiment}}]
                        </div>
                        
                        <div>
                            <small class="text-muted"> {{comment.dateCreatedOn}} </small>
                            {% if users.id == comment.author or users.id == post.author %}
                            <!-- Dropdown menu for users to delete their comments-->
                            <div class="dropdown">
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/delete-comment/{{comment.id}}">Delete</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <p class="card-text">
            {% if post.comments | length > 0 %}
            <a data-toggle="collapse" href="#comments-{{post.id}}" role="button">
                <small>View {{post.comments | length}} Comments</small>
            </a>
            {% else %}
            <small class="text-muted">No Comments</small>
            {% endif %}
        </p>
        
        <form class="input-group mb-3" method="POST" action="/create-comment/{{post.id}}">
            <!-- If this doesn't works, delete the div -->
            <div>
                <label for="sentiment" style="padding-right: 10px;">Choose a sentiment:</label>
                
                <br />
                <select name="sentiment" id="sentiment">
                    <option value="positive">Positive</option>
                    <option value="negative">Negative</option>
                </select>
            </div>
            
            <br />
            <input type="text" id="text" name="text" class="form-control" style="margin-top: 7px;" placeholder="Comment something here..." />
            <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Comment</button>
        </form>
        
        <br />
        {% endfor %}
    </div>

    {% block footer %}
    <br />
    <div style="text-align:center;">
        <a href="/create_post"><button type="button" class="btn btn-primary btn-lg">
            Create a Post
        </button></a>
    </div>
    {% endblock %}
{% endblock %}